.login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background-image:  linear-gradient(45deg,rgb(84, 84, 226),rgb(183, 91, 192),rgb(29, 115, 236),rgb(223, 102, 122));
    transition:  background-position 3s;
    background-size:  300%;
    background-position: right;

  
}

.login:hover{
    box-shadow: 0 0 5px black,0 0 10px black;
    background-position: left;
}

.user{
    padding: 10px;
    border-radius: 15px;
}
.pass{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.submit{
    border-radius: 5px;
    padding:8px;
    background-image: linear-gradient(45deg,rgb(35, 75, 251),rgb(49, 250, 27));
    background-position: right;
    background-size: 300%;
    transition:background-position 2s;
}
.submit:hover{
    background-position: left;
    color: black;
    font-weight: 900;
    box-shadow: 0 0 5px, 0 0 10px;
    padding: 11px;
    border-radius: 30px;
}